cachelib==0.13.0
Deprecated==1.2.18
Flask-Caching==2.3.1
Flask-Limiter==4.0.0
flask-swagger==0.2.14
flask-swagger-ui==5.21.0
gunicorn==23.0.0
limits==5.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
ordered-set==4.1.0
packaging==25.0
psycopg2==2.9.11
Pygments==2.19.2
PyJWT==2.10.1
PyYAML==6.0.3
rich==14.2.0
wrapt==1.17.3
